:root {
    /* Variables con los colores del proyecto */
    --primary: #0E1015;
    --primaryLight: #a72e38;
    --secondary: #ff4757;
    --secondaryLight: #a72e38;
    --headerColor: #fff;
    --bodyTextColor: #fff;
    --bodyTextColorWhite: #fff;
    /* 13px - 16px */
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    /* 31px - 49px */
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  }
  