@import url(/css/assets.css);
@import url(/css/download.css);

/* Footer */
footer {
    background-color: #07090E;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-img {
    width: 15%;
    height: auto;
}

.social-icon {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s;
    text-decoration: none;
}

.social-icon i{
    padding-right: 0.5em;
}

.social-icon:hover {
    color: #ff4757;
}

.footer-web-pages h4, .footer-redes h4, .footer-desarrollador h4 {
    color: #787B81;
    font-size: 1em;
}

.footer-web-pages ul, .footer-redes ul, .footer-desarrollador ul {
    list-style-type: none;
}

.footer-web-pages ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-web-pages ul li a:hover {
    color: #ff4757;
    text-decoration: underline;
}

.footer-bottom {
    display: flex;             
    justify-content: space-between; 
    align-items: center;       
    color: #787B81;       
    width: 100%;      
}

.footer-bottom p, .footer-bottom a {            
    padding: 0 15px;         
}

.footer-bottom a {
    text-decoration: none;    
    color: #787B81;             
}

.footer-bottom a:hover {
    text-decoration: underline;
}


.visitas {
    text-align: center;
}

.counter {
    color: #787B81;
}
