.cs-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cs-section {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.cs-galeria {
    text-align: center;
}

.cs-gallery-title {
    color: #fff;
    justify-content: center;
    font-size: 2rem;
}

.cs-gallery-description {
    font-size: 1rem;
}

.cs-galeria-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: center;
    padding: 20px;
}

.cs-galeria-item {
    width: 300px; 
    padding: 20px;
    transition: transform 0.3s ease; 
}

.cs-galeria-item img {
    width: 100%; 
    transition: transform 0.3s ease; 
}

.cs-galeria-item:hover img {
    cursor: pointer;
    transform: scale(1.2); 
}


/* Mobile - 430 */
@media only screen and (max-width: 768px) {

}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
   
}