:root {
    --primary: #0E1015;
    --primaryLight: #a72e38;
    --secondary: #ff4757;
    --secondaryLight: #a72e38;
    --headerColor: #fff;
    --bodyTextColor: #fff;
    --bodyTextColorWhite: #fff;
  }
  